.text{
color:lavender;
font-weight:300;
font-size:20px;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 40px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

.info{
color:#9370DB;
font-weight:700;
font-size:20px;
font-family:Copperplate Gothic Light;
}

.head{
text-align:center;
color:#8A2BE2;
font-size:80px;
font-family:Copperplate Gothic Light;
font-weight:900;
}

.image
{
height: 180px;
width: 350px;
border-radius: 60%
}

.bg{
background-color:grey;
}

.guide {
  color: #8A2BE2;
  font-weight: 700;
  font-size: 25px;
  font-family: Copperplate Gothic Light;
}
