
.text{
color:lavender;
font-weight:300;
font-size:20px;
font-family:Courier New,monospace;
}

.para{
font-weight:400;
font-size:20px;
font-family:Roboto-Regular,sans-serif;
}

marquee{
font-family:Brush Script MT,cursive;
font-size:30px;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

.text{
color:lavender;
font-weight:300;
font-size:20px;
font-family:Courier New,monospace;
}

.bg{
background-color:grey;
}