<html>
<head>
<link rel="stylesheet" href="/static/about.css">
<title>College Feedback Chatbot</title>
</head>
<body bgcolor="#E7F2F1">

<font face="Courier New" class="text">
<div class="navbar">
  <a class="bg" href="/">About</a>
  <a href="home.html">Home</a>
  <a href="chatbot.html">Chatbot</a>
  <a href="contact.html">Contact Us</a>
</div>
</font>

<br><br><br>
<center><img class="image" src="/static/images/logo1.jpeg" alt="logo"></center><br>
<h1 class="head">COLLEGE FEEDBACK<br>CHATBOT</h1>


<center>

<h3 class="info">Manali Thakkar<br>Utkarsh Kokate<br>Varun Poojary<br>Weona Lazarus<br></h3>
<b><h2 class="guide"><u>Guided by Prof.Revati Raspayle</u></h2></b>
</center><br>

</body>
</html>