<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <title>Contact Us</title>
</head>
<body background="/static/images/tec1.jpeg" class="right">

<font class="text">
<div class="navbar">
  <a href="/">About</a>
  <a href="home.html">Home</a>
  <a href="chatbot.html">Chatbot</a>
  <a class="bg" href="contact.html">Contact Us</a>
</div>
</font>

    <div class="contener">
    <h1 class="info">Contact Info: </h1>



    <div class="Email">
        Email:
        <a href = "mailto: admission@mituniversity.edu.in" style="color:#269A69">admission@mituniversity.edu.in</a><br><br>
    </div>
    <div class="Phone">
        Phone No: 02026912901<br><br>
    </div>
    <div class="Address">
        Address: <br>
        <a href="https://maps.google.com/?cid=40859897202932278&entry=gps" style="color:#269A69">MIT Art, Design and Technology University, </a>
        <br>
        Rajbaugh Loni Kalbhor, Solapur Highway,<br>
        Near Bharat Petrol Pump<br>Loni Kalbhor Railway Station,<br>
        Pune - 412201, Maharashtra India.

    </div>


</body>
</html>