<html>
<head>
<link rel="stylesheet" href="/static/home.css">
<title>College Feedback Chatbot</title>
</head>
<body bgcolor="#E7F2F1">

<font class="text">
<div class="navbar">
  <a href="/">About</a>
  <a class="bg" href="home.html">Home</a>
  <a href="chatbot.html">Chatbot</a>
  <a href="contact.html">Contact Us</a>
</div>
</font>

<br><br><br>

<font color="#8A2BE2"><marquee behavior="scroll" direction="left" scrollamount="15">Welcome to the College Feedback Chatbot website!</marquee></font>
<br><br>

<font class="para">
<center><a name="exactline">
The requirement of reviews for the betterment of the colleges and universities<br>
is often needed. Students often prevent giving feedbacks or reviews due to the<br>
long and tedious forms to be filled or being uncomfortable while answering<br>
questions. Students usually cannot express their opinions freely. They prefer a<br>
feedback giving procedure that is less tedious and also anonymous. A software<br>
that helps students freely express their opinions and easily, is often needed in<br>
such situations.
<br><br>
<img src="/static/images/img.png">
<br><br>
Just deploy <a href="chatbot.html" style="color:#8A2BE2">College Feedback Chatbot</a> on educational institution website to collect<br>
student's views and thoughts on their experience. Allow students to share how they<br>
feel about their facility and staff. Understand factors that can help the institution<br>
to improve. This interactive chatbot is designed to know how students feel about a<br>
university's environment and facilities. If you are looking to know how you can<br>
improve your students' satisfaction levels, try this today.
</a></center>

</font>
</body>
</html>